body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4a02d;
}

header {
    background-color: #f8f8f8;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1, header h2 {
    margin: 0;
}

.container-1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.horizontal-table {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #050505;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #000000;
    color: whitesmoke;
}

tr:nth-child(even) td {
    background-color: #000000;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
